.body {
    height: 100%;
}

.tracker-main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
}

.container-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}

.container-div{
    border: none;
    width: 25%;
    padding: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2EE59D;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #ccc;
}

.button-group{
    width: 100%;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;
    margin-top: 55px;
    padding: 0px 55px 0px 55px;
    padding-bottom: 55px;
}


.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #000;
    transform: translateY(-7px);
    font-weight: bolder;
}

.button2{
    width: 140px;
    height: 45px;
    font-family: 'Roboto',
    sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #2EE59D;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button2:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px #2EE59D;
    color: #000;
    transform: translateY(-7px);
    font-weight: bolder;
}

.user-input-group {
    width: 100%;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;
    margin-top: 55px;
    padding: 0px 55px 0px 55px;
    padding-bottom: 25px;
}

.description-box {
    border: 1px solid #2EE59D;
    outline: none;
    border-radius: 15px;
    padding-left: 5px;
    width: 250px;
    height: 55px;
    padding-top: 12px;
}

.input-file-container {
    border: 1px solid #2EE59D;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    padding-left: 10px;
}

.input-file-container2 {
    border: 1px solid #2EE59D;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}


.amount-field{
    padding-left: 25px;
    border: none;
    outline: none;
}

.rupee-sign{
    position: relative;
    left: 17px;
    height: 14px;
    width: 10px;
    display: inline-block;
}

.user-input-group{
    padding-bottom: 55px;
}

.add-button{
    width: 100%;
    height: 100%;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 25px;
}

.total-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    margin-top: 55px;
    
}

.total-tag{
    border: none;
    padding: 15px 25px 10px 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.total{
    font-family: 'Calibri';
    font-size: 30px;
}

.total-money-green{
    display: inline-block;
    font-size: 25px;
    border: 1px solid green;
    padding: 20px 25px 5px 25px;
    text-align: center;
    justify-content:center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;

}

.total-money-red {
    display: inline-block;
    font-size: 25px;
    border: 1px solid red;
    padding: 20px 25px 5px 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;

}


.value{
    display: inline-block;
    margin-left: 15px;
}

.footer{
    height: 250px;
}

.btn-success {
    color: #fff;
    background-color: #2EE59D !important;
    border-color: #2EE59D !important;
    color: #000 !important;
    font-weight: 500;
    border-radius: 15px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

input[type=file]::file-selector-button {
    border: 2px solid #2EE59D;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #2EE59D;
    border-radius: 15px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: .2em;
}