.main-head {
    font-size: 72px;
    background: -webkit-linear-gradient(#2193b0, #6dd5ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 45px;
}

.left {
    float: left;
}

.custom-select {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    padding-block-end: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-control-file{
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}